[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/boost/libs/asio"]
	path = third_party/boost/libs/asio
	url = https://github.com/boostorg/asio.git
[submodule "third_party/boost/libs/config"]
	path = third_party/boost/libs/config
	url = https://github.com/boostorg/config.git
[submodule "third_party/boost/libs/predef"]
	path = third_party/boost/libs/predef
	url = https://github.com/boostorg/predef.git
[submodule "third_party/boost/libs/system"]
	path = third_party/boost/libs/system
	url = https://github.com/boostorg/system.git
[submodule "third_party/boost/libs/winapi"]
	path = third_party/boost/libs/winapi
	url = https://github.com/boostorg/winapi.git
[submodule "third_party/inih"]
	path = third_party/inih
	url = https://github.com/benhoyt/inih
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
